*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
}

body{
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.wrapper{
  background-color: white;
  width: 80%;
  min-height: 80vh;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions{
  width: 80%;
}
.plist1 {
  display: inline;
}

.plist{
  display: none;
}